---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "About me"

const identity = {
	firstName: "Riley",
	country: "United Stated",
	occupation: "Brand Designer",
	hobbies : ["Music", "Origami", "Making cocktails"]
}

const skills = ["Visual design", "Typography", "Webflow"]

const happy = true;
const finished = false; 
const goal = 3; 

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}

			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		<Navigation />

		<h1>{pageTitle}</h1>
		<h2>My personal design journal</h2>

		<p>
			Nothing fancy, very raw bones, for sharing my thoughts and learnings in design/tech while practicing being creative
			as much as possible.
		</p>

		<h3>Fun stuff about me:</h3>
		<ul>
			<li> My name is {identity.firstName}.</li>
			<li>I live in {identity.country}</li>
			{identity.hobbies.length >=2 &&
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>

		<h3>My skills are:</h3>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li> )}
		</ul>

		<h3>Expierments</h3>
		{happy && <p>I am happy to be learning Astro!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
		<Footer />
	</body>
</html>
